﻿<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Search by Zipcode</ion-label>
    <ion-input type="text" placeholder="Search for provider centered at.."
               name="title"
               [(ngModel)]="inputProviderZipcode"
               required></ion-input>
  </ion-item>
  <ion-buttons>
    <button ion-button item-left  icon-only (click)="getProviders(inputProviderZipcode)">
      <ion-icon name="eye"></ion-icon>
    </button>
  </ion-buttons>

  

  <ion-buttons>
    <button ion-button item-right icon-only (click)="addSong()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>

  <ion-list>
    <ion-item *ngFor="let provider of providers | async">
      "ID: "{{provider.provider.id}}     
      "Name: "{{provider.provider.name}}
    </ion-item>
  </ion-list>

  <!--
  <ion-list>
    <ion-item *ngFor="let song of songs | async">
      {{song.title}}
    </ion-item>
  </ion-list>
  <ion-item *ngFor="let song of songs | async" (click)="showOptions(song.$key, song.title)"></ion-item>
      -->
    <p>
      If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
    </p>
</ion-content>
